---
# Only the main Sass file needs front matter (the dashes are enough) 
---

@import
  "minima/skins/{{ site.minima.skin | default: 'dark' }}",
  "minima/initialize";

body {
  font-family: "Monaco", monospace; 
}

p {
  color: rgb(183, 110, 121);
}

ol {
  color: rgb(233, 160, 181);
}

li {
  color: rgb(233, 160, 181);
}

h1 {
  color: rgb(133, 60, 81);
  font-weight: 900;
}

h2 {
  color: rgb(133, 60, 81);
  font-weight: 800;
}

h3 {
  color: rgb(133, 60, 81);
  font-weight: 700;
}

h4 {
  color: rgb(133, 60, 81);
  font-weight: 600;
}

h5 {
  color: rgb(133, 60, 81);
  font-weight: 500;
}

h6 {
  color: rgb(133, 60, 81);
  font-weight: 400;
}
